page-login {
    h3 {
        margin-top: 20% !important;
        font-family: Arial, Helvetica, sans-serif;
    }
    .registrarseTxt {
        text-align: center;
        text-decoration: underline;
    }

    .txt-registrarse{
        text-transform: capitalize;
    }
}