page-registrar {
    ion-label{
        margin: 0;
    }

    .item-inner{
        border-bottom: 0 !important;
    }

    h2{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20% !important;
    }

    h4{
        font-family: Arial, Helvetica, sans-serif;
    }
}
